.dashboard-container {
  .dashboard-header {
      position:fixed;

  }
  .dashboard-body {
    .dashboard-sideNav {
        margin: 0;
    }
    .dashboard-details {
        margin: 52px 0 0 70px;
    }
  }
}
