.customer-container{
    .first-grid{
        margin-top: 7%;
    }
    .MuiPaper-elevation1{
        box-shadow: 6px 12px 19px -5px rgba(0,0,0,0.33);
        -webkit-box-shadow: 6px 12px 19px -5px rgba(0,0,0,0.33);
        -moz-box-shadow: 6px 12px 19px -5px rgba(0,0,0,0.33);
    }
}